*.tgz
*.log
*.swp
.DS_Store

.github
node_modules
docs
examples
test
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc.json
CONTRIBUTING.md
package-lock.json
tsconfig.json
tsconfig.base.json 
typedoc.json
webpack.config.js
