*.tgz
*.log
*.swp
.DS_Store

node_modules
docs
examples
test
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc.json
package-lock.json
tsconfig.json
typedoc.json
typedoc.base.json
webpack.config.js
